venv
.vscode
remoteci.rc
job.json
job_from_file.json
job_from_file2.json
test.json
*.csv
playing.py
test_job_parsing.py
test_jobstates.py
test_sort.py
test_task_in_tasklist.py
.pytest_cache
__pycache__
download_jobs_as_csv.py
